
<style>

	div{
		background-color: #bbb;
		padding: 0.2rem;
	}

body{

margin:0;

padding:0;

}



 *{

	-webkit-touch-callout: none;

        -webkit-user-select: none;

        -khtml-user-select: none;

        -moz-user-select: none;

        -ms-user-select: none;

        user-select: none;

        outline: none;

        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */}

 canvas {

        -webkit-touch-callout: none;

        -webkit-user-select: none;

        -khtml-user-select: none;

        -moz-user-select: none;

        -ms-user-select: none;

        user-select: none;

        outline: none;

        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */

	height:100%;

	overflow:hidden;

	width:100%;

	position:fixed;

	background-color:lightblue;		
	} 

</style>

<link rel="manifest" href="./manifest.json" src="./manifest.json" >



<canvas id="canvas" >
</canvas>


<script src="~/js/engine.js"></script>

<style >
	img[onclick]{
		opacity: 0.5;
	}
	img[onclick]:hover{
		opacity: 0.75;
	}
	img[onclick]:active{
		opacity: 1;
	}
</style>

<img role="button" type="button" src="fullscreen.png" width="128" style="cursor:pointer; position: absolute; right:2px; top:2px;" onclick="document.body.requestFullscreen();document.querySelector('img[src=\'exitfullscreen.png\']').hidden=false;this.hidden=true;">
<img hidden role="button" type="button" src="exitfullscreen.png" width="64" style="cursor:pointer; position: absolute; right:2px; top:2px;" onclick="document.exitFullscreen();document.querySelector('img[src=\'fullscreen.png\']').hidden=false;this.hidden=true;">

<img role="button" type="button" src="bot.png" width="64" style="cursor:pointer; position: absolute; left:4px; bottom:8px;" onclick="conn.invoke('Bot')">
<img role="button" type="button" src="connect.png" width="64" style="cursor:pointer; position: absolute; right:182px; bottom:8px;" onclick="conn.state=='Connected'?conn.stop():Subscribe()">
<img role="button" type="button" src="enter.png" width="64" style="cursor:pointer; position: absolute; right:118px; bottom:8px;" onclick="Reenter()">

<div hidden
style="display:flex; justify-content: space-evenly; position: absolute;right: 0;bottom: 0.3rem;flex-wrap: wrap;"
>
	<button role="button" type="button" width="64" style="cursor:pointer; position: absolute; left:1rem; top:1rem;" onclick="document.querySelector('div').remove()	">X</button>

	<img role="button" type="button" src="connect.png" width="64" style="cursor:pointer; position: absolute; right:182px; top:-64px;" onclick="conn.state=='Connected'?conn.stop():Subscribe()">
	<img role="button" type="button" src="enter.png" width="64" style="cursor:pointer; position: absolute; right:118px; top:-64px;" onclick="Reenter()">
	<img role="button" type="button" src="load.png" width="52" style="cursor:pointer; position: absolute; right:64px; top:-58px;" onclick="Anim.LoadAnim().then(o=>objects.push(...o))">
	<img role="button" type="button" src="save.png" width="64" style="cursor:pointer; position: absolute; right:4px; top:-64px;" onclick="WriteAnim()">
<div 
style="display:flex; justify-content: space-evenly; flex-grow: 1;width: 100%; "
>
sequence:
<input type="number" style="width:15%;margin-right: 0.3rem;margin-top: 0.1rem;margin-bottom: 0.3rem;" id="isequence">
row:
<input type="number" style="width:15%;margin-right: 0.3rem;margin-top: 0.1rem;margin-bottom: 0.3rem;" id="irow">
count:
<input type="number" style="width:15%;margin-right: 0.3rem;margin-top: 0.1rem;margin-bottom: 0.3rem;" id="icount">
<button type="button" style="margin-bottom: 0.2rem;" onclick="eSaveSequence(this,event)">salvar</button>
</div>
<div
style="display:flex; justify-content: space-evenly; flex-grow: 1; width: 100%;"
>
x:
<input type="number" onfocus="this.setSelectionRange(0, this.value.length)" style="width:15%;" id="ix" step="10">
y:
<input type="number" style="width:15%;" id="iy" step="10">
w:
<input type="number" style="width:15%;" id="iw">
h:
<input type="number" style="width:15%;" id="ih">
</div>
<div
style="display:flex; justify-content: space-evenly; flex-grow: 1; margin-top: 0.3rem;"
>
ox
<input type="number" style="width:15%;" id="iox">
oy
<input type="number" style="width:15%;" id="ioy">
ml
<input type="number" style="width:15%;" id="iml">
mt
<input type="number" style="width:15%;" id="imt">
</div>
</div>


<script>
	ix = document.querySelector('#ix')
	iy = document.querySelector('#iy')
	iw = document.querySelector('#iw')
	ih = document.querySelector('#ih')
	iox = document.querySelector('#iox')
	ioy = document.querySelector('#ioy')
	iml = document.querySelector('#iml')
	imt = document.querySelector('#imt')

	//debug = true
	window.playerIndex = undefined
	calculating = false
function Subscribe(){
	calculating = false
	conn.start()
			.then(async _ => isFinite(window.playerIndex) ? window.playerIndex : await conn.invoke('Enter'))
	.then(_=>{
		window.playerIndex = _
		conn.stream('Update').subscribe({
				next: arg => 
				{
						arg.filter(p => p.isplayer).iterate((obj, k, i) => {
							try {
								if (!objects[obj.index]) {
									if (!calculating) {
										calculating = true
										Anim.LoadAnim('stormtrooper.json')
											.then(o => {
												console.log('loadedOnline')
												objects[obj.index] = new Anim(obj.copy(o))
												objects[obj.index].__draw = objects[obj.index]._afterDraw
												objects[obj.index]._afterDraw = function (ctx, x, y, key) {
													this.__draw(ctx, x, y, key)

													ctx.fillStyle='red'
													ctx.fillRect(x-((60-this.width)/2), y+this.height+10, 60, 5)
													if(this.life>0){
													ctx.fillStyle = 'green'
													ctx.fillRect(x - ((60 - this.width) / 2), y + this.height + 10, 60 * (this.life / 100), 5)
													}
													ctx.fillStyle='black'
													ctx.fillText(this.kills, x - ((60 - this.width) / 2), y + this.height + 25)
												}
												calculating = false
											})
											.catch(
												_ => { console.log(_); calculating = false }
											)
									}
								}
								else
									obj.maintainUndefined(objects[obj.index])

							} catch (ex) { console.log(ex) }
						})
						arg.filter(p => p.isbullet).iterate((obj, k, i) => {
							try {
								if (!objects[obj.index]) {
										objects[obj.index] = new Bullet(obj.index,obj);
										obj.maintainUndefined(objects[obj.index])
								}
								else
									obj.maintainUndefined(objects[obj.index])

							} catch (ex) { console.log(ex); }
						})
				},
				error: (err) => {
					alert(err)
					if(confirm('Reconnect')){
						window.Subscribe()
					}
					else throw err
				}
		})
	})
}

Subscribe()
	objects['camerafollow'] =
		(ctx) =>
			{
			Engine.offset.x = ((ctx.canvas.width / 2) - (objects[window.playerIndex].width / 2)) - objects[window.playerIndex].x
			Engine.offset.y = ((ctx.canvas.height / 2) - (objects[window.playerIndex].height / 2)) - objects[window.playerIndex].y
				offset.x = Engine.offset.x
				offset.y = Engine.offset.y
			}
a = async () => {
		let state = true
		await fetch('').catch(_ => state = false)

		if (state)
			return fetch('background.png').then(_ => _.blob())
				.then(i => createImageBitmap(i))
					.then(img =>{ 
						objects[-1] = ctx => {
						ctx.globalCompositeOperation = 'destination-over';
						ctx.drawImage(img, Engine.offset.x - (img.width / 2), Engine.offset.y - (img.height / 2))
						ctx.globalCompositeOperation = 'source-over';
					}
						
					})
		else
			return readFile('background.png')
				.then(i => createImageBitmap(i))
					.then(img =>{


					objects[-1] = ctx => {
						ctx.globalCompositeOperation = 'destination-over';
						ctx.drawImage(img, Engine.offset.x - (img.width / 2), Engine.offset.y - (img.height / 2))
						ctx.globalCompositeOperation = 'source-over';
					}


				})

	}
	a()


	function Reenter(){
		conn?.invoke('Enter').then(_ => {
		window.playerIndex = _
	})
	}
</script>
